.product-container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px 20px;
  gap: 40px;
}

.product-left {
  display: flex;
  width: 50%;
}

.product-images {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-top: -1px;
  gap: 14px;
}

.product-images img {
  height: 140px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.product-images img.selected {
  border-color: #242124;
}

.product-main-img {
  flex-grow: 1;
}

.product-main-img img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.product-right {
  width: 50%;
}

.product-name {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

.product-rating {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.star-rating {
  display: flex;
  color: #ffd700;
  margin-right: 10px;
}

.product-price {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.new-price {
  font-size: 22px;
  color: #ff0000;
  margin-right: 15px;
}

.old-price {
  text-decoration: line-through;
  color: #888;
}

.product-description {
  color: #555;
  margin-bottom: 20px;
}

.size-selection {
  margin-bottom: 20px;
}

.size-selection h3 {
  margin-bottom: 10px;
}

.size-buttons {
  display: flex;
  gap: 10px;
}

.size-button {
  width: 45px;
  height: 45px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.size-button:hover {
  border: 1px solid #535766;
}

.size-button.selected {
  background-color: #242124;
  color: white;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0);
  }
}

.size-button.shake {
  animation: shake 0.4s;
}

.size-error-message {
  /* color: #ff3e6c; */
  color: #ff0000;
  font-size: 14px;
  margin-top: 8px;
}

.action-buttons {
  display: flex;
  gap: 15px;
}

.add-to-bag {
  /* flex-grow: 1; */
  gap: 10px;
  padding: 12px 22px;
  width: 380px;
  height: 50px;
  background-color: #242124;
  color: white;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-bag:hover {
  opacity: 0.95;
}
.wishlist-button {
  padding: 12px 22px;
  width: 320px;
  gap: 10px;
  background-color: white;
  border: 1px solid #d4d5d9;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wishlist-button:hover {
  border: 1px solid #535766;
}
